<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Exercise Tracker </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"‌​>

    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
	{{{body}}}

    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/script.js"></script>
</body>
</html>