<div>
	<form class="mainform" method="post" id="addRecord">
		<div class="add-form">
			<p><label>Exercise name:</label><input type="text" id="exercise"></p>
			<p><label>Reps:</label><input type="number" id="reps"></p>
			<p><label>Weight:</label><input type="number" id="weight"></p>

		</div>
		<div class="add-form"class="half-form">
			<p><label>Date:</label><input type="date" id="date"></p>
			<p><label>Check if weight is in lbs </label><input type="checkbox" id="lbs"></p>
			<button id="addRow"> Add Exercise</button>
		</div>		
	</form>

</div>

<div id="editModal" class="modal">
	<div class="modal-content">
		<form class="mainform" method="post" id="editRecord">
			<div class="edit-form">
				<p><label>Exercise name:</label><input type="text" id="exercise"></p>
				<p><label>Reps:</label><input type="number" id="reps"></p>
				<p><label>Weight:</label><input type="number" id="weight"></p>
				<p><label>Date:</label><input type="date" id="date"></p>
				<p><label>Check if weight is in lbs </label><input type="checkbox" id="lbs"></p>
				<input type="hidden" id="databaseId">
				<button id="submitEdit">Update</button>
				<button id="closeEdit">Cancel</button>
			</div>		
		</form>			
	</div>
</div>

<script src="script.js"></script>
